<h1>Create Task</h1>

<form method="post">
  <div>
    <label>Description</label><br />
    <input type="text" name="description" required />
  </div>

  <div>
    <label>Due Date</label><br />
    <input type="date" name="dueDate" required />
  </div>

  <br />
  <button type="submit">Create</button>
</form>

